In [3]:
import pandas as pd
all = pd.read_csv('world.csv')
all_filter=[['洲名','國家','日期','總確診數']]
all_filter

[['洲名', '國家', '日期', '總確診數']]

In [4]:
all_filter[all_filter['國家'] == '台灣']

TypeError: list indices must be integers or slices, not str

In [ ]:
all_filter[(all_filter['國家'] == '台灣') | (all_filter['國家'] == '日本')]

In [8]:
#query()
all_filter.query('國家=="台灣"')
taiwan_japan = all_filter.query('國家=="台灣" or 國家=="日本"')

AttributeError: 'list' object has no attribute 'query'

In [ ]:
taiwan_japan.query('日期=="2022-02-05"')

In [7]:
february = taiwan_japan.query('日期>="2022-02-01" and 日期<"2022-03-01"')
february

NameError: name 'taiwan_japan' is not defined

In [6]:
february.to_csv('february.csv')

NameError: name 'february' is not defined

In [ ]:
february.to_excel('february.xlsx')