In [ ]:
#tuple

(1,2,3)

In [ ]:
#list

[1,2,3]

In [ ]:
#dictionary

{'one':1,'two':2,'three':3}